/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.topNavigation {
  display: flex;
  justify-content: flex-end;
}
.topNavigation nav {
  margin-bottom: 20px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
img {
  border-radius: 5px;
  margin-bottom: 10px;
}
.title {
  font-size: 5rem;
}
.subtitle {
  font-size: 3rem;
}
header {
  background: #4c535e;
  margin: 40px;
  padding: 25px;
}
.container {
  display: flex;
}
.container .wrapper {
  margin-top: 50px;
  width: 50%;
  font-size: 2rem;
  font: Sans-serif;
}
.middleContent {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin: 20px 50px 20px 50px;
  margin-bottom: 20px;
}
.middleContent .ListenUp {
  width: 40%;
}
.middleContent .ListenUp h2 {
  font-size: 3rem;
}
.middleContent .stuffImGoodAt {
  width: 40%;
}
.middleContent h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.middleContent ul {
  line-height: 1.5;
}
.middleContent li {
  border: 0.5px solid lightgray;
}
.table {
  width: 90%;
}
.table table {
  font-size: 2rem;
  margin-left: 50px;
  width: 100%;
}
.table table tr:nth-child(even) {
  background-color: #4c535e;
}
.table table tr {
  padding: 10px 0;
  font-size: 2.5rem;
}
.subtitle {
  border-bottom: 0.5px solid;
  padding-bottom: 40px;
}
.workHistory {
  font-size: 3rem;
  margin-left: 50px;
  margin-bottom: 0;
  border-bottom: 0.5px solid;
  margin-right: 50px;
}
.contactsec {
  margin-left: 50px;
  margin-top: 60px;
  font-size: 1.5rem;
}
.contactsec h1 {
  font-size: 2rem;
}
